.workCard {
	flex: 1;
	display: flex;
	border-radius: 12px;
	gap: 12px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#workLogo {
	display: flex;
	height: 80px;
	width: 80px;
	align-items: center;
	border-radius: 8px;
}

.workCard img {
	width: 80px;
}

#workHeader {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 8px;
}

#workInfo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 4px;
}

.workDates {
	color: var(--text);
	font-size: 16px;
}

@media only screen and (max-width: 768px) {
	.workCard {
		padding: 6px;
	}
}