button {
	background-color: var(--blue);
	display: flex;
	padding: 12px;
	border-radius: 9999px;
	font-family: inherit;
	gap: 4px;
	align-items: center;
	justify-content: center;
	border: none;
	color: var(--bg);
	text-decoration: none;
}

button:hover {
	background-color: var(--purple);
	transition: 0.2s ease;
	cursor: pointer;
}

button {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

button i {
	margin-right: 8px;
}