#body {
	padding: 0px 16vw;
	padding-bottom: 36px;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 800;
}

h2 {
	text-align: center;
	font-weight: 700;
}

h3 {
	text-align: center;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
}

@media only screen and (max-width: 1024px) {
	.body {
		padding: 0px 12vw;
	}
}

@media only screen and (max-width: 768px) {
	.body {
		padding: 0px 6vw;
	}
}

@media only screen and (max-width: 640px) {
	.body {
		padding: 0px 3vw;
	}
}