.body {
	padding: 12px 16vw 36px 16vw;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-weight: 800;
}

h2 {
	text-align: center;
	font-weight: 700;
}

h3 {
	font-weight: 600;
}

@media only screen and (max-width: 1024px) {
	.body {
		padding: 0 12vw;
	}
}

@media only screen and (max-width: 768px) {
	.body {
		padding: 0 6vw;
	}
}

@media only screen and (max-width: 640px) {
	.body {
		padding: 0 3vw;
	}
}