#contact {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;
}

#contactBox {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex: 1;
	gap: 16px;
}

#contact span {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#contact {
		align-items: stretch;
	}

	#contactBox {
		flex-direction: column;
	}

}