#contact {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;
}

#contactBox {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-evenly;
	align-items: center;
	flex: 1;
	gap: 16px;
}

#CVBox {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	border-radius: 24px;
	align-self: stretch;
	box-sizing: border-box;
	width: 50%;
}

#contact span {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#contact {
		align-items: stretch;
	}

	#contactBox {
		flex-direction: column;
	}

	#CVBox {
		padding: 24px;
		width: 100%;
	}

}