.contact {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;
}

#contactBox {
	display: flex;
	flex: 1;
	gap: 16px;
	justify-content: space-around;
	align-items: center;
}

.contact span {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.contact {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#contactBox {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}