.header {
	display: flex;
	background-color: var(--red);
	border-radius: 0 0 12px 12px;
	padding: 8px 16vw;
	align-items: center;
	justify-items: center;
}

#openMenuIcon {
	display: none;
	font-size: 24px;
	color: var(--bg);
}

#fullMenu {
	flex: 1;
	display: flex;
}

#mobileMenu {
	flex: 1;
	display: none;
}

@media only screen and (max-width: 1024px) {
	.header {
		padding: 8px 12vw;
		align-items: flex-start;
	}
}

@media only screen and (max-width: 768px) {
	.header {
		padding: 16px;
	}

	#openMenuIcon {
		display: flex;
	}

	#fullMenu {
		display: none;
	}

	#mobileMenu {
		display: flex;
	}

}

@media only screen and (max-width: 640px) {
	.header {
		padding: 16px;
	}
}