.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
	width: 90%;
	padding: 12px;
	border-radius: 0 0 12px 12px;
}

#closeSidebarIcon {
	position: none;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: flex-end;
	font-size: 24px;
	color: var(--bg);
	z-index: 3;
}

.sidebarOption a {
	text-decoration: none;
	color: var(--bg);
	font-size: 20px;
	font-weight: bold;
}

.sidebarIcon {
	align-items: center;
	margin-right: 8px;
}

@media only screen and (max-width: 768px) {
	#openSidebarIcon {
		display: flex;
	}
}

@media only screen and (min-width: 768px) {
	.sidebar {
		display: none;
	}
}