body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Quicksand';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Fira Code', monospace;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
    background:  linear-gradient(180deg, var(--red), var(--purple), var(--blue));
}
  
::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 999vh var(--bg);
    border: 3px solid var(--bg);
    border-radius: 999px;
    background-clip: content-box;
}