body,
html {
	margin: 0;
	font-family: 'Quicksand';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

code {
	font-family: 'Fira Code', monospace;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(180deg, var(--red), var(--purple), var(--blue));
}

::-webkit-scrollbar-thumb {
	background: transparent;
	box-shadow: 0px 0px 0px 999vh var(--bg);
	border: 3px solid var(--bg);
	border-radius: 999px;
	background-clip: content-box;
}

@media only screen and (max-width: 768px) {
	::-webkit-scrollbar {
		width: 0px;
	}
}