.socialArray {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}

.iconArray {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: center;
	gap: 36px;
}

.socialIcon {
	text-decoration: none;
	font-size: 40px;
}

.fa-linkedin {
	color: #2867B2;
}

.fa-envelope-square {
	color: #B23121;
}

.fa-github-square {
	color: #6e5494;
}


.socialIcon:hover {
	color: var(--text);
	transition: color 0.2s;
}